.simple-subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
}
.simple-subscription-form .button {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
}

.size-24{font-size:24px}
.size-72{font-size:72px}